#lists
  -content_for :javascript do
    new TodoList.Routers.AppRouter({list: #{ @list.to_json.html_safe}, project_lists:#{ @project_lists.to_json.html_safe}, project:#{ @project.to_json.html_safe} })
    Backbone.history.start()
