<%= form_tag  project_path(@project)+'/members/invite'  do  %>
      <div class="field">
      <%= email_field_tag  'email' %> <br />

    </div>

    <div class="actions">
      <%=button_tag @button_name %>
    </div>
<% end %>