<% if @teams.nil? %>
<p> There is no member</p>
<% else %>
    <% @teams.each do |team|           %>
        <tr>
          <td><%= team.user_id %></td>
          <td><%=  link_to "Delete",project_path(@project)+'/members', confirm: 'Are you sure?', method: :delete %></td>
        </tr>        <br />
    <% end %>

<% end %>
<p><%=  link_to "Invite user to project", project_path(@project)+'/members/invite'  %></p>