!!!5
%html
  %head
    %meta {content: "text/html; charset=UTF-8", :"http-equiv" => "Content-type"}
  %body
    %h1 = "You were successfully add to " + @project.name + " project"
    %p = "To login the site, just follow this link "




