<div id="tasks"></div>
<%- content_for :javascript do %>
    new TodoList.Routers.AppRouter({task: <%= @task.to_json.html_safe %>, list: <%= @list.to_json.html_safe%> })
    Backbone.history.start()
<%- end %>