<h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
 </h1>
<ul>
  <li><%= link_to 'Projects', user_projects_path(@user)   %></li>
  <li><%= link_to 'Lists', user_lists_path(@user)   %></li>
</ul>
