.content
  %h1
    = gravatar_for @user
    = @user.name
  %ul
    %li = link_to pluralize(@user.lists.count, "List"), user_lists_path(@user)
    %li = link_to pluralize(@user.projects.count, "Project"), user_projects_path(@user)

