<div class="content">
   <div class = "well">
     <table>
       <tr>
         <td><h3>Lists</h3> </td>
         <td>                  </td>
         <td id = "lists_new"> </td>
       </tr>
     </table>
     <table class = "table table-stripped">
       <thead>
         <th>Name</th>
         <th>Description</th>
       </thead>
       <tbody id = "lists">
         <tr >

         </tr>
       </tbody>
     </table>
   </div>
</div>