<div class = "formcontainer well">
  <h3>New list</h3>

  <form id="new-list" name="list">
    <div class="field">
      <label>Name</label>
      <input type="text" name = "name"/>
    </div>
    <div class="field">
      <label>Description</label>
      <textarea rows="10" cols="45" name="description"> </textarea>
    </div>
    <div class="actions">
      <input type="submit" value="Create List"  />
    </div>
  </form>
  <a href="#/index">Back</a>
</div>



