<% @user ||= current_user %>
<div class="sidebar">
    <a href="<%= following_user_path(@user) %>">
        <%= @user.following.count %> following
    </a>
    <a href="<%= followers_user_path(@user) %>">
        <%= pluralize(@user.followers.count, "follower") %>
    </a>
</div>

