<div class="content">
   <div class = "well">
     <table>
       <tr>
         <td><h3>Tasks</h3> </td>
         <td>                  </td>
         <td id = "tasks_new">  </td>
       </tr>
     </table>

     <div class = "state">
        <p id = "done_tasks" class = "btn btn-success"></p>
        <p id = "in_work_tasks" class = "btn btn-warning"></p>
        <p id = "all_tasks" class = "btn btn-primary"></p>
     </div>

     <table class = "table table-stripped">
       <thead>
         <th>Name</th>
         <th>Description</th>
         <th>Priority</th>
         <th>Executor</th>
         <th>State</th>
       </thead>
       <tbody id = "tasks">
         <tr >

         </tr>
       </tbody>
     </table>
