<DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
  </head>
  <body>
    <h1>TODO List project</h1>
   </body>
   <%= link_to "Sign up now!", '#', :class => "signup_button round" %>
</html>
</DOCTYPE>