<DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
  </head>
  <body>
    <h1>TODO List project</h1>
    <%= link_to "Users", :controller => "users", :method => "get" %>
  </body>

</html>
</DOCTYPE>