<div class = "span2 columns text">
  <h1><%= name %></h1>
</div>

<div class = "span3 columns text">
   <p>Today I have <span id = "projects_count"> </span> and <span id = "lists_count"> </span></p>
   <p> I am invited in <span id = "projects_invited_in_count"> </span>  </p>
   <p> I should done <span id = "tasks_count"> </span>  </p>

</div>