
#error_explanation {
    width: 300px;
    border:  2px solid red;
    padding:  7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding:  5px 5px 5px 15px;
    font-size: 12px;
    margin:  -7px;
    background-color: #c00;
    color: #fff;
}

#error_explanation p {
    color: #333;
    margin-bottom: 0;
    padding:  5px;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}
.error, .alert, .notice, .success, .info {
    padding:0.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}
.error, .alert {
    background:#fbe3e4;
    color:#8a1f11;
    border-color:#fbc2c4;
}
.notice {
    background:#fff6bf;
    color:#514721;
    border-color:#ffd324;
    margin-top: 25px
}
.success {
    background:#e6efc2;
    color:#264409;
    border-color:#c6d880;
    margin-top: 25px
}
.info {
    background:#d5edf8;
    color:#205791;
    border-color:#92cae4;
}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}

.top{
    margin-top: 15px;
    margin-bottom: 5px;
    background-color:#DDF4FB;
    width: 98%;
    height:100px;
}

.table{
   background-color:#FFF;
}

.logo{
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 15px;
    color: #FFF;
}
#invite{
    margin-left: 30px;
    margin-top: -5px;
}

.formcontainer{
    width: 300px;
    margin-left: 35px;

}