<div class="content">
   <div class = "well">
     <table>
       <tr>
         <td><h3>Projects</h3> </td>
         <td>                  </td>
         <td><a href="/#/projects/new">New Project</a></td>
       </tr>
     </table>
     <table class = "table table-stripped">
       <thead>
         <th>Name</th>
         <th>Description</th>
       </thead>
       <tbody id = "projects">
         <tr >

         </tr>
       </tbody>
     </table>
     <h3>Projects invited in</h3>
     <table class = "table table-stripped">
            <thead>
              <th>Name</th>
              <th>Description</th>
            </thead>
            <tbody id = "projects_invited_in">
              <tr >

              </tr>
            </tbody>
          </table>
   </div>
</div>