.footer
  .row.footer_bottom
    .span4.offset6
      = link_to "News", href="http://news.railstutorial.org"
      = link_to "Rails Tutorial", href="http://news.railstutorial.org"
  .span8.offset2
  = debug(params) if Rails.env.development?


