<header>
   <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>

       <li><%= link_to "Users", :controller => "users", :action => "index" %></li>

    </ul>
  </nav>
</header>