.row
  .span8.header
    = image_tag("logo.png", :alt => "LOGO",  :width => 940)
  .span8.offset4.gray
    - if signed_in?
      = link_to "Home", current_user, class: "btn"
      = link_to "Settings", edit_user_path(current_user), class: "btn"
      = link_to "Sign out", signout_path, method: :delete, class: "btn"